
@{
    ViewBag.Title = "SavePersonalCalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3 style="font-weight:bold; color:#76df16">Your Personal Numbers Saved Successfully</h3>
    <hr />
    @Html.ActionLink("Back to List","GroupMyCalls","Bills")
    <hr />
    @Html.ActionLink("Click Here to Check Cost Details and Submit for Approval", "CalculateAllCalls", "Bills")

